:root {
  /* --main-text-color: #2e2e2e; */
  --main-text-color: #404040;
  --sub-text-color: darkgray;
  --accent-color: orangered;
}

*,
*::before,
*::after{
  margin:0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'DM Sans', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}


/*Section used for centering process*/
section {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: 
  linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, 0.7)),  
  url("22028CA1-5CEF-49D5-9363-48343965E594.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.page-header {
  font-size: 30px;
  text-align: center;
  color: var(--main-text-color);
}

.rising {
  font-size: 50px;
}

.page-header div {
  margin-top: 20px;
}

.accordion {
  margin: 50px;
}

.accordion-item{
  border-radius: .4rem;
}

.accordion-item hr{
  border: 1px solid var(--accent-color);
}

.accordion-link{
  font-size: 1.6rem;
  color: var(--main-text-color);
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link h3{
  font-weight:500;
  font-size: 20px;
}

.accordion-link i{
  color: var(--accent-color);
  padding: .5rem;
  
}

.accordion-link ul{
  display:flex;
  align-items: flex-end;
  list-style-type: none;
  margin-left: 25px;
}

.accordion-link li{
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  padding: 0 0 1px 5px;
}

.accordion-link div{
  display: flex;
}

.accordion-link .ion-md-arrow-down{
  display: none;
}

.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 650ms;
}

.answer p{
  color: var(--main-text-color);
  font-size: 15px;
  padding: 1rem;
}

.accordion-item:target .answer{
  max-height: 60rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward{
  display: none
}

.accordion-item:target .accordion-link .ion-md-arrow-down{
  display: block;
}

/* contact form adapted from: https://codepen.io/markmurray/pen/JsAhx/ */
.contact-form { 
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

input, textarea {
  font-family: 'DM Sans', sans-serif;
  border: 0; 
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -5px;
}

#input-submit {
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -5px;
  background-color: rgb(179, 0, 0, .75);
}

textarea {
  height: 58px;
}

@media only screen and (max-width: 540px) {
  body {
    position: fixed;
  }

  /* .accordion-item:target .answer{
    max-height: 100rem;
  } */
  
  .contact-form { 
    padding-left: .5rem;
    padding-right: .5rem;
  }
  
}

@media only screen and (max-width: 500px) {
  body {
    position: fixed;
  }
  
  section {
    height: 100vh;
    background-image: 
  linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, 0.7)),  
  url("F50586F6-A9A0-4A43-8296-FEA35BAA2959.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  }

 .accordion {
   margin-top: 40px;
   margin-left: 20px;
   margin-right: 20px;
 }

 .accordion-item:target .answer{
  max-height: 100rem;
}

  .page-header {
    font-size: 25px;
  }
  
  .rising {
    font-size: 40px;
  }

  .contact-form { 
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
}

@media only screen and (max-width: 380px) {
  .page-header {
    font-size: 25px;
  }
  
  .rising {
    font-size: 35px;
  }

 .accordion-link h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 350px) {
 .accordion-link h3 {
    font-size: 15px;
  }

  .contact-form { 
    padding-top: 0;
  }
  
  input, textarea {
    padding: .75em;
    margin-top: .75em;
  }

}
